<!DOCTYPE html>
<html>
  <head>
    <title>Habits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "application/bootstrap_css" %>
    <%= render "application/assets" %>
  </head>

  <body class="bg-light">
    <%= render 'application/header' %>
    <main role="main">
      <%= yield %>
    </main>
    <%= render 'application/footer' %>
    <%= render 'application/bootstrap_js' %>
  </body>
</html>
